atualizador/src/wsdl/localhost_8080/leitorRSS/LeitorRSS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://leitor.pco002.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://leitor.pco002.com.br/" name="leitorRSS">
<types>
<xsd:schema>
<xsd:import namespace="http://leitor.pco002.com.br/" schemaLocation="http://localhost:8080/leitorRSS/LeitorRSS?xsd=1"/>
</xsd:schema>
</types>
<message name="teste">
<part name="parameters" element="tns:teste"/>
</message>
<message name="testeResponse">
<part name="parameters" element="tns:testeResponse"/>
</message>
<message name="readFeed">
<part name="parameters" element="tns:readFeed"/>
</message>
<message name="readFeedResponse">
<part name="parameters" element="tns:readFeedResponse"/>
</message>
<message name="readTopic">
<part name="parameters" element="tns:readTopic"/>
</message>
<message name="readTopicResponse">
<part name="parameters" element="tns:readTopicResponse"/>
</message>
<portType name="LeitorRSS">
<operation name="teste">
<input wsam:Action="http://leitor.pco002.com.br/LeitorRSS/testeRequest" message="tns:teste"/>
<output wsam:Action="http://leitor.pco002.com.br/LeitorRSS/testeResponse" message="tns:testeResponse"/>
</operation>
<operation name="readFeed">
<input wsam:Action="http://leitor.pco002.com.br/LeitorRSS/readFeedRequest" message="tns:readFeed"/>
<output wsam:Action="http://leitor.pco002.com.br/LeitorRSS/readFeedResponse" message="tns:readFeedResponse"/>
</operation>
<operation name="readTopic">
<input wsam:Action="http://leitor.pco002.com.br/LeitorRSS/readTopicRequest" message="tns:readTopic"/>
<output wsam:Action="http://leitor.pco002.com.br/LeitorRSS/readTopicResponse" message="tns:readTopicResponse"/>
</operation>
</portType>
<binding name="LeitorRSSPortBinding" type="tns:LeitorRSS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="teste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readTopic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="leitorRSS">
<port name="LeitorRSSPort" binding="tns:LeitorRSSPortBinding">
<soap:address location="http://localhost:8080/leitorRSS/LeitorRSS"/>
</port>
</service>
</definitions>